<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Tag Helpers in ASP.NET Core MVC</title>
</head>
<body>

    <hello />
    <br />
    Sum: <sum a="2" b="3" />

</body>
</html>